* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body a {
  padding: 0px;
  text-decoration: none;
}

body a:hover {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

p {
  padding: 0px;
}

ul {
  padding: 0;
  margin: 0;
}

/*** end **/
/** Nav Bar **/
.site__header {
  display: flex;
  max-width: 100%;
  padding: 0px 35px;
  height: 80px;
  background: #fff;
  line-height: 80px;
  z-index: 9;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  color: #3f3a64;
  font-family: "Times New Roman", Times, serif;
  position: relative;
}
.site__header .hamburger__menu {
  display: none;
}
.site__header a.site__title {
  align-items: center;
  flex-basis: 100%;
  color: #3f3a64;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 1px;
  flex: 1;
}
.site__header nav {
  align-items: center;
  flex-basis: 100%;
  text-align: right;
  flex: 2;
}
.site__header nav ul {
  list-style: none;
}
.site__header nav ul li {
  display: inline-block;
  padding-right: 40px;
}
.site__header nav ul li a {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
.site__header nav ul li a:hover {
  color: #3f3a64;
}
@media screen and (max-width: 1050px) {
  .site__header nav ul li {
    padding-right: 20px;
  }
}
@media screen and (max-width: 850px) {
  .site__header nav {
    display: none;
  }
  .site__header .hamburger__menu {
    display: inline-block;
    position: relative;
    top: 50%;
    margin: -10px;
    cursor: pointer;
  }
  .site__header .hamburger__menu span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: #3f3a64;
    margin-bottom: 3px;
  }
}
.site__header .action__btn {
  max-width: 100%;
  max-height: 200px;
  padding: 15px 20px;
  border: 1px solid #0099e5;
  color: #0099e5;
  border-radius: 8px;
}

@media screen and (max-width: 450px) {
  .site__header {
    padding: 0px 20px;
  }
}
.responsive__nav {
  background-color: #fff;
  border-bottom: 1px solid #000;
  transition: 0.6s ease-in-out;
}
.responsive__nav nav {
  text-align: center;
  z-index: 999;
}
.responsive__nav nav ul li {
  display: block;
  padding: 20px 0px;
  font-size: 18px;
  font-weight: 600px;
  font-family: "Times New Roman", Times, serif;
}
.responsive__nav nav ul li a {
  color: #3f3a64;
}
.responsive__nav nav ul li a.get__started {
  color: #0099e5;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/** Main Body **/
.main__body {
  text-align: center;
}
.main__body .hero__section {
  padding-top: 60px;
  font-size: 25px;
  font-weight: 700px;
  line-height: 1.3;
  color: #3f3a64;
  font-family: "Merriweather", serif;
}
.main__body .hero__section p {
  color: #696969;
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 20px;
}
.main__body .ecommerce__logos {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #f6f6f6;
  margin: 15px 0px;
  align-items: center;
}
.main__body .ecommerce__logos div {
  flex-basis: 100%;
}
.main__body .services {
  width: 100%;
}
.main__body .services h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700px;
  line-height: 1.3;
  color: #3f3a64;
  font-family: "Merriweather", serif;
  color: #3f3a64;
  margin-bottom: 30px;
}
.main__body .services .services__list {
  display: flex;
  width: 100%;
  text-align: center;
}
.main__body .services .services__list div {
  flex-basis: 100%;
}
.main__body .services .services__list div h3 {
  padding-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 700px;
  line-height: 1.3;
  color: #3f3a64;
  font-family: "Merriweather", serif;
  color: #3f3a64;
  margin-bottom: 30px;
}
@media screen and (max-width: 760px) {
  .main__body .services .services__list {
    flex-direction: column;
  }
}
@media screen and (max-width: 760px) {
  .main__body .hero__section {
    font-size: 20px;
    padding-top: 20px;
  }
  .main__body .hero__section p {
    padding: 0px 20px;
  }
}

/** Footer Section **/
.footer__section div {
  width: 95%;
  margin: 10px auto;
}
.footer__section div h3 {
  padding-top: 10px;
  font-size: 30px;
  font-weight: 700px;
  line-height: 1.3;
  color: #3f3a64;
  font-family: "Merriweather", serif;
  color: #3f3a64;
}
.footer__section div p {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 28px;
}
.footer__section hr {
  width: 94%;
  margin: 20px 20px 10px auto;
}
.footer__section .copyright {
  text-align: left;
}
.footer__section .copyright__text {
  font-size: 15px;
  font-weight: 700;
  padding: 20px 0px;
  font-family: sans-serif;
}

/** Tracking Page **/
.track__page {
  width: 50%;
  margin: 20px auto;
}
.track__page div {
  display: flex;
}
.track__page div input[type=text], .track__page div input[type=url] {
  width: 100%;
}
.track__page div #countryCode {
  height: 45px;
  width: 80px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 15px;
  font-size: 25px;
  background-color: #f6f6f6;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.track__page h1 {
  font-size: 60px;
  font-family: "Merriweather", serif;
  color: #3f3a64;
  text-align: center;
}
.track__page p {
  font-size: 20px;
  text-align: center;
  font-family: "Merriweather", serif;
  color: rgba(0, 0, 0, 0.5);
}
.track__page input[type=text], .track__page input[type=url] {
  max-width: 100%;
  height: 45px;
  max-height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0px 12px;
  font-family: "Merriweather", serif;
  font-size: 18px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
  font-weight: lighter;
}
.track__page input[type=text]:focus, .track__page select:focus {
  outline: none;
}
.track__page button {
  width: 150px;
  height: 50px;
  background-color: #3f3a64;
  color: #0099e5;
  border: 1px solid #0099e5;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  font-family: serif;
  border-radius: 8px;
  cursor: pointer;
}
.track__page button:hover {
  color: #3f3a64;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}

.supported__stores {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
  margin: 15px 0px;
  align-items: center;
}
.supported__stores div {
  flex-basis: 100%;
  text-align: center;
}
.supported__stores div img {
  max-width: 40% !important;
  max-height: 40% !important;
}

@media screen and (max-width: 768px) {
  .track__page {
    width: 95%;
  }
}
.currently__tracking {
  width: 95%;
  margin: auto;
}
.currently__tracking h1 {
  margin-bottom: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.currently__tracking .currently__tracking_products {
  display: flex;
}
.currently__tracking .currently__tracking_products .tracked__product {
  flex-basis: 100%;
  margin-top: 20px;
  width: 90%;
  margin: auto;
  height: 350px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
  border-radius: 5px;
  cursor: pointer;
}
.currently__tracking .currently__tracking_products .tracked__product .product__img {
  position: relative;
  height: 240px;
  text-align: center;
  box-sizing: border-box;
}
.currently__tracking .currently__tracking_products .tracked__product .product__img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 10px 0px;
  vertical-align: middle;
}
.currently__tracking .currently__tracking_products .tracked__product .product__description {
  margin-bottom: 10px;
  padding: 0px 8px;
}
.currently__tracking .currently__tracking_products .tracked__product .product__description p {
  font-size: 18px;
  font-weight: 500px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.currently__tracking .currently__tracking_products .tracked__product .product__description .price__now {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.currently__tracking .currently__tracking_products .tracked__product .product__description .before__price {
  font-size: 12px;
  color: #3f3a64;
}
@media screen and (max-width: 835px) {
  .currently__tracking .currently__tracking_products {
    flex-direction: column;
  }
}

/** Product Page **/
.product__page {
  width: 95%;
  margin: auto;
}
.product__page .breadcrumb {
  min-height: 50px;
  line-height: 50px;
  padding: 5px 0px;
  border-bottom: 1px solid #f6f6f6;
}
.product__page .product__info {
  display: flex;
  min-height: 500px;
}
.product__page .product__info .product__img {
  flex-basis: 100%;
  position: relative;
  text-align: center;
  margin-top: 40px;
  min-height: 600px;
  box-sizing: border-box;
}
.product__page .product__info .product__img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  padding: 10px 0px;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .product__page .product__info .product__img {
    flex-basis: auto;
  }
}
.product__page .product__info .product__description {
  margin-top: 40px;
  flex-basis: 100%;
}
.product__page .product__info .product__description h1 {
  font-size: 35px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}
.product__page .product__info .product__description h3 {
  margin: 25px 0px;
}
.product__page .product__info .product__description ul {
  margin-bottom: 20px;
}
.product__page .product__info .product__description ul li {
  padding-bottom: 8px;
  display: inline-block;
  padding-right: 15px;
  font-size: 20px;
}
.product__page .product__info .product__description p {
  padding-bottom: 15px;
}
.product__page .product__info .product__description .buy__on__amazon {
  padding: 15px;
  max-width: 150px;
  max-height: 50px;
  border-radius: 5px;
  background-color: #f0c14b;
  color: #000;
  font-family: "Amazon Ember", Arial, sans-serif;
  border-color: #a88734 #9c7e31 #846a29;
  font-weight: bold;
}
.product__page .product__info .product__description .buy__on__ebay {
  background-color: #3665f3;
  padding: 15px;
  max-width: 150px;
  max-height: 50px;
  border-radius: 5px;
  color: #fff;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 500;
}
.product__page .product__info .product__description .buy__on__walmart {
  background-color: #000;
  padding: 15px;
  max-width: 150px;
  max-height: 50px;
  border-radius: 5px;
  color: #fff;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 500;
}
.product__page .product__info .product__description .buy__on__target {
  background-color: #cc0000;
  padding: 15px 40px;
  border-radius: 5px;
  color: #fff;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 500;
}
.product__page .product__info .product__description .track {
  background-color: #00001c;
  padding: 15px;
  max-width: 150px;
  max-height: 50px;
  border-radius: 5px;
  color: #fff;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 500;
  margin-left: 10px;
}
@media screen and (max-width: 800px) {
  .product__page .product__info {
    flex-direction: column;
  }
}

/** Product Don't Exist **/
.product__not__exist {
  width: 100%;
  height: 80vh;
  position: relative;
}
.product__not__exist .not__found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 300px;
  text-align: center;
  padding-top: 150px;
  background-color: #f6f6f6;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/** Deals */
.deals {
  width: 95%;
  margin: auto;
}
.deals .breadcrumb {
  min-height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #f6f6f6;
}
.deals .breadcrumb h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: 30px;
}
.deals .products {
  display: flex;
}
.deals .products .search__bar {
  flex: 1;
}
.deals .products .product__list {
  flex: 3;
}
.deals .products .product__list .product {
  width: 100%;
  margin-top: 15px;
  height: 310px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #f6f6f6;
  box-shadow: 1px 1px -1px 0px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.deals .products .product__list .product .product__img {
  position: relative;
  max-width: 90%;
  margin: 5px auto;
  height: 230px;
}
.deals .products .product__list .product .product__img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 10px 0px;
  vertical-align: middle;
}
.deals .products .product__list .product .product__description {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
}
.deals .products .product__list .product .product__description p {
  padding: 0px 0px 5px 8px;
  margin: 0px !important;
}
.deals .products .search__bar h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 0px;
  font-size: 23px;
}
.deals .products .search__bar form {
  display: flex;
}
.deals .products .search__bar input[type=text] {
  height: 40px;
  width: 80%;
  padding: 0px 8px;
  font-family: sans-serif;
  font-weight: 800;
}
.deals .products .search__bar button {
  width: 50px;
  height: 40px;
}
@media screen and (max-width: 800px) {
  .deals .products input[type=text] {
    height: 40px;
    width: 100%;
    padding: 0px 8px;
    font-family: sans-serif;
    font-weight: 800;
  }
}
@media screen and (max-width: 800px) {
  .deals .products {
    flex-direction: column;
  }
}

/** Privacy Page **/
.privacy__page {
  width: 95%;
  margin: auto;
}
.privacy__page .privacy__title {
  padding: 10px 0px;
  border-bottom: 1px solid #f6f6f6;
}
.privacy__page .privacy__title h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}
.privacy__page .privacy__content h2 {
  padding-top: 10px;
  font-weight: 400px;
  font-weight: lighter;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/** FAQs **/
.faqs__page {
  width: 95%;
  margin: auto;
}
.faqs__page .faqs__title {
  padding: 10px 0px;
  border-bottom: 1px solid #f6f6f6;
}
.faqs__page .faqs__title h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}
.faqs__page .faqs__content h2 {
  padding-top: 10px;
  font-weight: lighter;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/** Contact Us **/
.contact__us .breadcrumb {
  width: 95%;
  min-height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-bottom: 1px solid #f6f6f6;
  margin: auto;
}
.contact__us .breadcrumb h2 {
  font-weight: lighter;
}
.contact__us .form__container {
  width: 60%;
  margin: 40px auto;
}
.contact__us .form__container h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 15px;
}
.contact__us .form__container input[type=text], .contact__us .form__container textarea {
  width: 100%;
}
.contact__us .form__container input[type=text] {
  max-width: 100%;
  height: 45px;
  max-height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0px 12px;
  font-family: "Merriweather", serif;
  font-size: 18px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
  font-weight: lighter;
}
.contact__us .form__container textarea {
  max-width: 100%;
  height: 150px;
  max-height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 12px;
  font-family: "Merriweather", serif;
  font-size: 18px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
  font-weight: lighter;
}
.contact__us .form__container .btn__send {
  width: 150px;
  height: 50px;
  background-color: #3f3a64;
  color: #0099e5;
  border: 1px solid #0099e5;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  font-family: serif;
  border-radius: 8px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .contact__us .form__container {
    width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
